<div class="list-group">

  <li>
    <table class="table">
      <tr>
        <th>id</th>
        <th>period</th>
        <th>Average price (EUR/m2) Riga (center)</th>
        <th>Transaction count Riga (center)</th>
        <th>Average price (EUR/m2) Riga (suburbs)</th>
        <th>Transaction count Rīga (mikrorajoni)</th>
        <th>Average price (EUR/m2) Jurmala (Sloka, Kauguri)</th>
        <th>Transaction count Jurmala (Sloka, Kauguri)</th>
        <th>Save</th>
      </tr>
      <tr  *ngFor="let post of posts">
        <td>{{post._id}}</td>
        <td>{{post["Gads un pusgads"]}}</td>
        <td>{{post["Vidējā cena (EUR/m2) Rīga (centrs)"]}}</td>
        <td>{{post["Darījumu skaits Rīga (centrs)"]}}</td>
        <td>{{post["Vidējā cena (EUR/m2) Rīga (mikrorajoni)"]}}</td>
        <td>{{post["Darījumu skaits Rīga (mikrorajoni)"]}}</td>
        <td>{{post["Vidējā cena (EUR/m2) Jūrmala (Sloka, Kauguri)"]}}</td>
        <td>{{post["Darījumu skaits Jūrmala (Sloka, Kauguri)"]}}</td>
        <td><button (click)="saveRow(post)" class="btn-save">save</button></td>

      </tr>

    </table>

  </li>
</div>
